html,body
{
    overflow-x: hidden; 
}
  .form-control:focus {
    box-shadow: none!important;
    outline:none!important;
    border:1px solid #c2c0c0!important;
  }
  .form-control:visited{
    box-shadow: none!important;
    outline:none!important;
    border:1px solid #c2c0c0!important;
    background-color: transparent;
  }
.n {
    background: #0D2942;
  }
  .addhov:hover{
    cursor: pointer;
  }
  
body{
  font-family: 'Segoe UI';
}
  .b {
    font: normal normal normal 16px/21px Segoe UI;
    letter-spacing: 0px;
    color: #0BB44F;
    font-weight: 500;
  }
  .b:hover{
    color:black;
    text-decoration: none;
  }
  .btnLogin{
    background-color: white;
    color: #0BB44F;text-decoration: none; font-size: 16px;
  }
  .btnLogin:hover{
    background-color: #0BB44F;
    color: white;
  }
  .btnLogintxt{
color: #0BB44F;text-decoration: none; font-size: 16px;
  }
  .btnLogintxt:hover{
    color: white;
  }
  .s{
    right: 358px;
  }
  
/* Style the links inside the navigation bar */
.navhov{
  color: white;
}
.navhov:hover {
    border-bottom: 3px solid #0BB44F;
    font-weight: 700;
    color: white;
  }
  
  .active {
    border-bottom: 3px solid #0BB44F;
    color: #0BB44F;
    font-weight: 700;
  }
.subdashnav{
  background-color: #c2c0c0;
}
  .subdashnav a:hover {
    color: white;
    
  }
  .subdashnav a:active {
    color: white;
    font-weight: 1000;
  }
.showmore{
  color:white;
}
.showmore:hover{
  color:#0BB44F;
}
  li.borderless { border-top: 0 none; }
    .nav-link{
      color: white;
      }
  .mx-auto{
    margin-top: -40px;
  }
  .divider{
    background-color: aliceblue;
    color: aliceblue;
}

td {
color:white;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:white;
  opacity: 0.7; /* Firefox */
}
.f::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:grey;
  opacity: 0.7; /* Firefox */
  font-size: 14px;
}
.f{
  background-color: #F3F3F3;
}

/*home.html placeholder*/
.h::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* Firefox */
  color:grey;
  padding-left: 20px;
  font-size: 12px;
  padding:10px;
}
.hovtab {
  border:1px solid transparent;
}
.hovtab:hover {
  border:1px solid #0BB44F;
  border-radius: 20px;
  cursor: pointer;
  height: inherit;
  transition: 300ms;
}
.hovtab:hover .homeemp{
opacity: 1;
}
.chan2
{
  color: black;
}

.chan
{
  color: #0BB44F;
}
.advancesearch
{
  color: #0BB44F;
}
.advancesearch:hover
{
  color: #0BB44F;
  border-bottom: 2px solid #0BB44F;
}
.txt
{
    font-size: small;
    align-items: left;
}
.dropdown-item:hover{
    background-color: grey;
}
/*color the icon of dropdown DASHBOARD.html*/
.drop {
  color:black;
  
}
 /* Style to change separator  */
 .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: white;
}
.roun{
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
.featshad
{
  box-shadow: 1px 5px 6px 1px rgba(0, 0, 0, 0.1);
}
.link:hover{
  color: #0BB44F;
  }
.link{
    color: #929292;
    }
.weightedtext:hover{
color: #FFFFFF;
text-decoration: none;
}
.weightedtext{
  text-decoration: none;
  color: #929292;
  }
  .curhov:hover{
    cursor: context-menu;
  }
    /*career.html cards*/
    .cards-txt:hover{
      color:white;
      text-decoration: none;
      }
      .cards:hover{
        background-color: #0BB44F;
        text-decoration: none;
        }
       /*career.html cards*/
    .subcards-txt:hover{
      color:white;
      text-decoration: none;
      }
      .subcards:hover{
        background-color: #0BB44F;
        text-decoration: none;
        }
        /*accountancy.html cards*/
    .acards-txt:hover{
      color:white;
      text-decoration: none;
      }
      .acards:hover{
        background-color: #0BB44F;
        text-decoration: none;
        }
.container-fluid {
    padding: 0px;
    text-align: center;
}
.container {
  padding: 0px;
}
/***********************************************************************************************************************/
@media (min-width: 300px) {
  /*footer circle image*/
  .resp {
   position: absolute;
   left: -90px;
   }
   .respimg{
    width: 150px;
    height: 150px;
  }
   .footerform{
    border-radius: 7px;background-color: #818181; border:0px; color: white;height: 35px;
  }
  .btnsub{
    color:#CCCCCC;
    border-radius: 7px;
    height: 35px;
    margin-left: 5px;
    padding: 0px 14px;
  }
     /*Footer form*/
   .newsform{
    padding-top:0px;
     padding-left: 0px;
    }
    .tablehome td{
      font-size: 14px;
      text-align: left;
    }
/* Top left text */
.top-left {
  position: absolute;
  top: 180px;
  left: 66px;
}
/*home.html main image*/
.topimg{
  top:-40px;
}
/*accountancy.html cards div*/
.aover{
  top: -920px;
margin:30px;
}
.ag{
  height:900px;
  top:50px;
}
/*accountancy.html sub div*/
.dover{
  top: -860px;
  margin-bottom: -100px;
}

/*accountancy.html  circle*/
.cir{
  position: absolute;
  width:150px;
  height:170px;
  right:-40px;
  top:-140px;
}
/*accountancy main text over image*/
.cent {
  width:400px;
  height:400px;
  position: absolute;
  top: 170px;
  left:20px;
  font-size:12px; 
  
}
/*accountancy.html cards*/
.acards-txt{
  color:black;
  font-size: 10px;
  }     
.acards{
  background-color: white;
  height:165px;
  width:100px;
  } 
  /*green strip on testimonial div*/
.testdiv
{
  margin-left:0px; width: 350px; margin-bottom: -50px; height: 60px; border-radius: 20px 20px 0px 0px;
}
.testimg{
  padding-left: 109px; 
}
/*accountancy.html cards*/
.subcards-txt{
  color:black;
  font-size:10px;
  }     
  
.subcards{
  background-color: white;
  height:150px;
  width:130px;
  } 
  .subtext{
    width:470px;
    font-size:12px;
    padding-left:50px;
  }
/*about.html text*/
.t{
  margin-top: 90px;
}
/*home.html main img top*/ 
.homeimg{
  height:580px;
  width:1300px;
}
.homeover{
  margin-top: -365px;
}
.hometexttop{
  position: absolute;
  top: 220px;
  left: 16px;
}
.h::placeholder{
  font-size: 12px;
  padding-left: 3px;
}
.homedivtxt{
  font-size: 18px;
  font-weight:680;
  text-align: left;
}
.homedivsubtxt{
  font-size: 12px;
}
/*home.html slider*/
.homeimgslide{
  position: relative; 
  border-radius: 10px;
  width:120px;
  height:120px;
  margin: 0px;
}
.homeimgslidetxt{
  font-size:12px;
  width:120px;
  top: 91px; 
  position:absolute;
  text-align:center;
  border-radius: 10px;
  left:8px; 
}
/*home.html slider "Select category" position button*/
.homesel{
  right:-30px;
}
.btncarousel{
  font-size:20px; border-radius: 40px;height:30px; width:30px;
  background-color: #ccc;
  color:#0BB44F;
}

.btncarousel:hover{
  background-color: #0BB44F;
  color: white;
}
.featover{
  top:30px;position:relative;margin-bottom: -220px;
}
.featsub{
  margin:0px -15px;
}
.hometxt{
  top:-70px;
  left:20px;
  font-size: 18px;
}
.homemaintxt{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 36px;
}
.hoverhome{
  border-radius: 5px;padding:3px;
}
.homeemp{/*featured employers*/
  font-size: 36px;
  font-weight: 600;
  color: #0BB44F;
  opacity: 50%;
}
/*form home.html*/
.homesearch{
  width: 140px;height:50px;margin-left: 0px;font-size: 14px;padding-left: 20px;padding-right: 20px;
  border-radius: 8px;
}
.homesearch::placeholder{
  font-size: 14px;
  color:grey;
}
.homebt{
  width: 150px; height: 43px; margin-top: 15px;
}
.addhome{
  margin-left: 15px;
}
.searchform{
  top:-50px;
}
.findjobs{
  padding-top: 600px;
}
.hoverdown{
  border-radius: 10px;margin-bottom: -420px; top:296px;
}
.hoverhomerel{
  position: absolute; left:70px;
}
.hovtxt{
  font-size: 12px;
}
.formdiv::placeholder{
  color:#707070;
  font-size: 12px;
}
.formdiv{
  height:40px;
  padding: 0px 15px;
  border-radius: 3px;
}
.boldheader{
  font-size: 12px;
}
.comment::before{
  content:"";
  position: absolute;
  top:-6px;
  left:75px;
  margin:auto;
  height: 20px;
  width: 20px;
  border:1px solid #fff;
  transform:rotate(45deg);
  background-color:  #fff;
  }
  .tag{
    font-size:16px;
  }
  .text
  {
    font-size: 14px;
  }
/*home.html globe images*/
.s1{
  position: absolute;left:70px; top:0px;
  width:70px;height: 70px;
}
.s1div{
  position: absolute;left:-60px;width:160px;
}
.s2{
  position: absolute; left: 240px; top:20px;
  width:70px;height: 70px;
}
.s2div{
  position: absolute;left:-50px;width:160px;
}
.s3{
  position: absolute; left:130px;top:130px;
  width:70px;height: 70px;
}
.s3div{
  position: absolute;left:-50px;width:160px;
}
.s4{
  position: absolute; left:400px; top:30px;
  width:70px;height: 70px;
}
.s4div{
  position: absolute;left:-51px;width:160px;
}
/*Alert form in home.html and about.html*/ 
.formalert{
  border-radius: 20px 20px 0px 0px;
  height:340px;
}
.formposttxt{
  font-size: 30px;
  font-weight: 600;
}
.formpostsubtxt{
  font-size: 20px;
  font-weight: 350;
}
.formpost {
  border-radius: 15px;border: 0px;padding-left: 45px;
}
/*career.html cards*/
.cards-txt{
  color:black;
  font-size: 12px;
  }     
  /*career.html cards div*/
.over{
  left:0px;
  top: -770px;
  margin-bottom: -755px;
}
/*career.html blue rectangle*/
.hg{
  height: 720px;
}
   /*career.html circle*/
 .careercir{
  position: absolute;
  width:250px;
  height:300px;
  right:-100px;
  top:14px;
}
.cards{
  background-color: white;
  height:160px;
  width:120px;
  } 
        /*blog.html div*/
.bover-about{
  top:-60px;
}
/*blog page pagination*/
.blogpg{
bottom: -1700px;
padding-top: 200px;
}
/*blog main text*/
.blogtext{
 top:240px;
}
.blogsubtext{
  letter-spacing: 2px;font-size: 16px;
}
/*Employer.html*/
.empdivs{
  border-radius: 12px;
  padding-left: 19px;
  padding-right: 19px;
  font-size: 12px;
  padding-top: 10px;
}
.txtemp{
  font-size: 16px;
}
/*form Employer.html*/
.empkey{
  width: 250px;height:40px;margin-left: 50px;
}
.emploccat{
  width: 250px;height:40px;margin-left: 50px;
}
.empbtn{
  width: 150px; height: 43px; margin-left: 6px;margin-left: 150px; margin-top: 15px;
}
/*register.html button*/
.regbtn {
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 4px;
}

.navover{
  top: -800px;
}
 }
/***********************************************************************************************************************/
@media (min-width: 500px) {
  /*footer circle image*/
  .resp {
   position: absolute;
   left: -90px;
   }
   .respimg{
    width: 150px;
    height: 150px;
  }
   .footerform{
    border-radius: 7px;background-color: #818181; border:0px; color: white;height: 35px;
  }
  .btnsub{
    color:#CCCCCC;
    border-radius: 7px;
    height: 35px;
    margin-left: 5px;
    padding: 0px 14px;
  }
     /*Footer form*/
   .newsform{
    padding-top:0px;
     padding-left: 0px;
    }
    .tablehome td{
      font-size: 14px;
      text-align: left;
    }
/* Top left text */
.top-left {
  position: absolute;
  top: 180px;
  left: 66px;
}
/*home.html main image*/
.topimg{
  top:-40px;
}
/*accountancy.html cards div*/
.aover{
  top: -920px;
margin:30px;
}
.ag{
  height:900px;
  top:50px;
}
/*accountancy.html sub div*/
.dover{
  top: -860px;
  margin-bottom: -100px;
}

/*accountancy.html  circle*/
.cir{
  position: absolute;
  width:150px;
  height:170px;
  right:-40px;
  top:-140px;
}
/*accountancy main text over image*/
.cent {
  width:400px;
  height:400px;
  position: absolute;
  top: 170px;
  left:20px;
  font-size:12px; 
  
}
/*accountancy.html cards*/
.acards-txt{
  color:black;
  font-size: 10px;
  }     
.acards{
  background-color: white;
  height:165px;
  width:100px;
  } 
  /*green strip on testimonial div*/
.testdiv
{
  margin-left:0px; width: 350px; margin-bottom: -50px; height: 60px; border-radius: 20px 20px 0px 0px;
}
.testimg{
  padding-left: 109px; 
}
/*accountancy.html cards*/
.subcards-txt{
  color:black;
  font-size:10px;
  }     
  
.subcards{
  background-color: white;
  height:150px;
  width:130px;
  } 
  .subtext{
    width:470px;
    font-size:12px;
    padding-left:50px;
  }
/*about.html text*/
.t{
  margin-top: 90px;
}
/*home.html main img top*/ 
.homeimg{
  height:580px;
  width:1300px;
}
.homeover{
  margin-top: -280px;
}
.hometexttop{
  position: absolute;
  top: 220px;
  left: 16px;
}
.h::placeholder{
  font-size: 12px;
  padding-left: 3px;
}
.homedivtxt{
  font-size: 18px;
  font-weight:680;
  text-align: left;
}
.homedivsubtxt{
  font-size: 12px;
}
/*home.html slider*/
.homeimgslide{
  position: relative; 
  border-radius: 10px;
  width:120px;
  height:120px;
  margin: 0px;
}
.homeimgslidetxt{
  font-size:12px;
  width:120px;
  top: 91px; 
  position:absolute;
  text-align:center;
  border-radius: 10px;
  left:8px; 
}
/*home.html slider "Select category" position button*/
.homesel{
  right:-30px;
}
.btncarousel{
  font-size:20px; border-radius: 40px;height:30px; width:30px;
  background-color: #ccc;
  color:#0BB44F;
}

.btncarousel:hover{
  background-color: #0BB44F;
  color: white;
}
.featover{
  top:20px;position:relative;margin-bottom: -220px;
}
.featsub{
  margin:0px -10px ;
}
.hometxt{
  top:-70px;
  left:20px;
  font-size: 18px;
}
.homemaintxt{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 36px;
}
.hoverhome{
  border-radius: 5px;padding:3px;
}
.homeemp{/*featured employers*/
  font-size: 36px;
  font-weight: 600;
  color: #0BB44F;
  opacity: 50%;
}
/*form home.html*/
.homesearch{
  width: 140px;height:50px;margin-left: 0px;font-size: 14px;padding-left: 20px;padding-right: 20px;
  border-radius: 8px;
}
.homesearch::placeholder{
  font-size: 14px;
  color:grey;
}
.homebt{
  width: 150px; height: 43px; margin-top: 15px;
}
.addhome{
  margin-left: 15px;
}
.searchform{
  top:-60px;
}
.findjobs{
  padding-top: 400px;
}
.hoverdown{
  border-radius: 10px;margin-bottom: -420px; top:296px;
}
.hoverhomerel{
  position: absolute; left:70px;
}
.hovtxt{
  font-size: 12px;
}
.formdiv::placeholder{
  color:#707070;
  font-size: 12px;
}
.formdiv{
  height:40px;
  padding: 0px 15px;
  border-radius: 3px;
}
.boldheader{
  font-size: 12px;
}
.comment::before{
  content:"";
  position: absolute;
  top:-6px;
  left:75px;
  margin:auto;
  height: 20px;
  width: 20px;
  border:1px solid #fff;
  transform:rotate(45deg);
  background-color:  #fff;
  }
  .tag{
    font-size:16px;
  }
  .text
  {
    font-size: 14px;
  }
/*home.html globe images*/
.s1{
  position: absolute;left:70px; top:0px;
  width:70px;height: 70px;
}
.s1div{
  position: absolute;left:-60px;width:160px;
}
.s2{
  position: absolute; left: 240px; top:20px;
  width:70px;height: 70px;
}
.s2div{
  position: absolute;left:-50px;width:160px;
}
.s3{
  position: absolute; left:130px;top:130px;
  width:70px;height: 70px;
}
.s3div{
  position: absolute;left:-50px;width:160px;
}
.s4{
  position: absolute; left:400px; top:30px;
  width:70px;height: 70px;
}
.s4div{
  position: absolute;left:-51px;width:160px;
}
/*Alert form in home.html and about.html*/ 
.formalert{
  border-radius: 20px 20px 0px 0px;
  height:340px;
}
.formposttxt{
  font-size: 30px;
  font-weight: 600;
}
.formpostsubtxt{
  font-size: 20px;
  font-weight: 350;
}
.formpost {
  border-radius: 15px;border: 0px;padding-left: 45px;
}
/*career.html cards*/
.cards-txt{
  color:black;
  font-size: 12px;
  }     
  /*career.html cards div*/
.over{
  left:0px;
  top: -770px;
  margin-bottom: -755px;
}
/*career.html blue rectangle*/
.hg{
  height: 720px;
}
   /*career.html circle*/
 .careercir{
  position: absolute;
  width:250px;
  height:300px;
  right:-100px;
  top:14px;
}
.cards{
  background-color: white;
  height:160px;
  width:120px;
  } 
        /*blog.html div*/
.bover-about{
  top:-60px;
}
/*blog page pagination*/
.blogpg{
bottom: -1700px;
padding-top: 200px;
}
/*blog main text*/
.blogtext{
 top:240px;
}
.blogsubtext{
  letter-spacing: 2px;font-size: 16px;
}
/*Employer.html*/
.empdivs{
  border-radius: 12px;
  padding-left: 19px;
  padding-right: 19px;
  font-size: 12px;
  padding-top: 10px;
}
.txtemp{
  font-size: 16px;
}
/*form Employer.html*/
.empkey{
  width: 250px;height:40px;margin-left: 50px;
}
.emploccat{
  width: 250px;height:40px;margin-left: 50px;
}
.empbtn{
  width: 150px; height: 43px; margin-left: 6px;margin-left: 150px; margin-top: 15px;
}
/*register.html button*/
.regbtn {
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 4px;
}

.navover{
  top: -800px;
}
 }
/***********************************************************************************************************************/
@media (min-width: 576px) {
  .resp {
   position: absolute;
   left: -80px;
   }
   .respimg{
    width: 150px;
    height: 150px;
  }
   .footerform{
    border-radius: 7px;background-color: #818181; border:0px; color: white;height: 40px;
  }
  .btnsub{
    color:#CCCCCC;
    border-radius: 7px;
    height: 40px;
    padding: 0px 14px;
  }
   /*Footer form*/
   .newsform{
    padding-left: 0px;
    padding-top: 40px;
   }
   .tablehome td{
    font-size: 14px;
    text-align: left;
  }
  /*home.html main image*/
.topimg{
  top:-180px;
}
/* Top left text */
.top-left {
  position: absolute;
  top: 180px;
  left: 66px;
}
/*accountancy.html cards div*/
.aover{
  top: -760px;
}
.ag{
  height:480px;
  top:-50px;
}
/*accountancy.html sub div*/
.dover{
  top: -860px;
  margin-bottom: -100px;
}

/*accountancy.html circle*/
.cir{
  position: absolute;
  width:250px;
  height:300px;
  right:-340px;
  top:130px;
}
/*accountancy main text over image*/
.cent {
  width:600px;
  height:400px;
  position: absolute;
  top: 170px;
  left:30px;
  font-size: 12px;
}
/*green strip on testimonial div*/
.testdiv
{
  margin-left:0px; width: 225px; margin-bottom: -50px; height: 60px; border-radius: 20px 20px 0px 0px;
}
.testimg{
  padding-left: 70px; 
}
/*accountancy.html cards*/
.acards-txt{
  color:black;
  font-size: 8px;
  }     
.acards{
  background-color: white;
  height:130px;
  width:110px;
  } 
/*accountancy.html cards*/
.subcards-txt{
  color:black;
  font-size:10px;
  }     
  
.subcards{
  background-color: white;
  height:150px;
  width:140px;
  }
  .subtext{
    width:400px;
    font-size:14px;
    padding-left:50px;
  } 
/*about.html text*/
.t{
  margin-top: 50px;
}
/*about.html div*/
.over-about{
  top:-80px;
}

/*home.html main img top*/ 
.homeimg{
  height:580px;
  width:1300px;
}
.homeover{
  margin-top: -290px;
}
.hometexttop{
  position: absolute;
  top: 220px;
  left: 16px;
}
.h::placeholder{
  font-size: 12px;
  padding-left: 3px;
}
.homedivtxt{
  font-size: 20px;
  font-weight:660;
  text-align: left;
}
/*home.html slider*/
.homeimgslide{
  position: relative; 
  border-radius: 7px;
  width:150px;
  height:150px;
  margin: 0px;
  
}
.homeimgslidetxt{
  font-size:16px;
  width:150px;
  top: 115px; 
  position:absolute;
  text-align:center;
  border-radius: 8px; 
  left: 17px;
}
.homepad{
  padding-left: 90px;
  padding-right: 0px;
}
/*home.html slider "Select category" position button*/
.homesel{
  right:-30px;
}
.btncarousel{
  font-size:20px; border-radius: 40px;height:30px; width:30px;
  background-color: #ccc;
  color:#0BB44F;
}

.btncarousel:hover{background-color: #0BB44F;
  color: white;
}
.featover{
  top:30px;position:relative;margin-bottom: -70px;
}
.hometxt{
  top:-70px;
  left:0px;
  font-size: 18px;
}
.hoverdown{
  border-radius: 5px;margin-bottom: -420px; top:335px;
}
.hoverhomerel{
  position: absolute; left:120px;
}
.formdiv::placeholder{
  color:#707070;
  font-size: 12px;
}
.formdiv{
  height:40px;
  width:340px;
  padding: 0px 5px;
  border-radius: 5px;
}
.homemaintxt{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 36px;
}
.hoverhome{
  border-radius: 5px;padding:10px;
}
.homeemp{/*featured employers*/
  font-size: 36px;
  font-weight: 600;
  color: #0BB44F;
  opacity: 50%;
}
/*form home.html*/
.homesearch{
  width: 140px;height:50px;margin-left: 0px;font-size: 14px;padding-left: 28px;padding-right: 28px;
  border-radius: 8px;
}
.homesearch::placeholder{
  font-size: 14px;
  color:grey;
}
.homebt{
  width: 150px; height: 43px; margin-top: 15px;
}
.addhome{
  margin-left: -15px;
}
.searchform{
  top:-50px;
  left:-20px;
}
.findjobs{
  padding-top: 400px;
}
.boldheader{
  font-size: 14px;
}

.comment::before{
  content:"";
  position: absolute;
  top:-16px;
  left:115px;
  margin:auto;
  height: 30px;
  width: 30px;
  border:1px solid #fff;
  transform:rotate(45deg);
  background-color:  #fff;
  }
  .tag{
    font-size: 16px;
  }
  .text
  {
    font-size: 14px;
  }
/*home.html globe images*/
.s1{
  position: absolute;left:100px; top:0px;
  width:90px;height: 90px;
}
.s1div{
  position: absolute;left:-60px;width:250px;
}
.s2{
  position: absolute; left: 280px; top:90px;
  width:90px;height: 90px;
}
.s2div{
  position: absolute;left:-80px;width:250px;
}
.s3{
  position: absolute; left:130px;top:130px;
  width:90px;height: 90px;
}
.s3div{
  position: absolute;left:-80px;width:250px;
}
.s4{
  position: absolute; left:400px; top:30px;
  width:90px;height: 90px;
}
.s4div{
  position: absolute;left:-80px;width:250px;
}
/*Alert form in home.html and about.html*/ 
.formalert{
  border-radius: 20px 20px 0px 0px;
  height:340px;
  width: 1900px;
}
.formposttxt{
  font-size: 30px;
  font-weight: 600;
}
.formpostsubtxt{
  font-size: 20px;
  font-weight: 350;
}
.formpost {
  border-radius: 15px;border: 0px;padding-left: 45px;
}
/*career.html cards*/
.cards-txt{
  color:black;
  font-size: 12px;
  }     
  /*career.html cards div*/
.over{
  left:0px;
  top: -600px;
  margin-bottom: -570px;
}
/*career.html blue rectangle*/
.hg{
  height: 350px;
}
  /*career.html circle*/
 .careercir{
  position: absolute;
  width:320px;
  height:350px;
  right:-90px;
  top:-160px;
}
.cards{
  background-color: white;
  height:160px;
  width:120px;
  } 
      /*blog.html div*/
.bover-about{
  top:-210px;
}
/*blog page pagination*/
.blogpg{
  bottom: -1700px;
padding-top: 200px;
}
/*blog main text*/
.blogtext{
 top:240px;
}
.blogsubtext{
  letter-spacing: 2px;font-size: 16px;
}
/*Employer.html*/
.empdivs{
  border-radius: 12px;
  padding-left: 19px;
  padding-right: 19px;
  font-size: 12px;
}
.txtemp{
  font-size: 16px;
}
/*form Employer.html*/
.empkey{
  width: 250px;height:40px;margin-left: 50px;
}
.emploccat{
  width: 250px;height:40px;margin-left: 50px;
}
.empbtn{
  width: 150px; height: 43px; margin-left: 6px;margin-left: 150px; margin-top: 15px;
}
/*register.html button*/
.regbtn {
  padding-right: 45px;
  padding-left: 45px;
  border-radius: 5px;
}
.navover{
  top: -800px;
}
.hovtxt{
  font-size: 14px;
}

 }
/***********************************************************************************************************************/
@media (min-width: 768px) {
  .resp {
   position: absolute;
   left: -80px;
   }
   .respimg{
    width: 200px;
    height: 200px;
  }
   .footerform{
    border-radius: 7px;background-color: #818181; border:0px; color: white;height: 40px;
  }
  .btnsub{
    color:#CCCCCC;
    border-radius: 7px;
    height: 40px;
    padding: 0px 4px;
  }
    /*Footer form*/
    .newsform{
      padding-left: 0px;
      padding-top: 0px;
     }
     .tablehome td{
      font-size: 14px;
      text-align: left;
    }
/*home.html main image*/
   .topimg{
    top:-180px;
  }

/* Top left text */
.top-left {
  position: absolute;
  top: 90px;
  left: 66px;
}

/*home.html circle*/
.cir{
  position: absolute;
  width:230px;
  right:-390px;
}
.img-resp{
  height:600px;
}
/*about.html text*/
.t{
  top:30%;
}
/*about.html div*/
.over-about{
  top:-120px;
}

/*accountancy.html blue rectangle*/
.ag{
  height: 700px;
}
/*accountancy.html cards div*/
.aover{
  top: -1050px;
}
/*accountancy.html sub div*/
.dover{
  top: -1100px;
  margin-bottom: -100px;
}

/*accountancy.html testimonial*/
.tover{
  top: -400px;
  margin-bottom: -300px;
}
/*accountancy.html circle image*/
.cir{
  position: absolute;
  width:350px;
  height:440px;
  right:-430px;
  top:-10px;
}
/*green strip on testimonial div*/
.testdiv
{
  margin-left:0px; width: 258px; margin-bottom: -50px; height: 60px; border-radius: 20px 20px 0px 0px;
}
.testimg{
  padding-left: 90px; 
}
/*accountancy main text over image*/
.cent {
  font-size: 16px;
  width:700px;
  height:400px;
  position: absolute;
  top: 100px;
  left:110px;
}
/*accountancy.html cards*/
.acards-txt{
  color:black;
  font-size: 10px;
  }     
.acards{
  background-color: white;
  height:145px;
  width:120px;
  } 
/*accountancy.html cards*/
.subcards-txt{
  color:black;
  font-size:10px;
  }     
  
.subcards{
  background-color: white;
  height:150px;
  width:130px;
  } 
  .subtext{
    width:500px;
    font-size:14px;
    padding-left:90px;
  }
/*home.html main img top*/ 
.homeimg{
  height:660px;
  width:1300px;
}
.homeover{
  margin-top: -290px;
}
.hometexttop{
  position: absolute;
  top: 130px;
  left: 136px;
}
.h::placeholder{
  font-size: 12px;
  padding-left: 3px;
}
.homepad{
  padding-left: 70px;
  padding-right: 0px;
}
.homedivtxt{
  font-size: 22px;
  font-weight:680;
  text-align: left;
}
/*home.html slider*/
.homeimgslide{
  position: relative; 
  border-radius: 10px;
  width:150px;
  height:180px;
  margin: 0px;
}
.homeimgslidetxt{
  font-size:16px;
  width:150px;
  top: 145px; 
  position:absolute;
  text-align:center;
  border-radius: 10px; 
  left: 19px;
}
/*home.html slider "Select category" position button*/
.homesel{
  right:-80px;
}
.btncarousel{
  font-size:20px; border-radius: 40px;height:30px; width:30px;
  background-color: #ccc;
  color:#0BB44F;
}

.btncarousel:hover{
  background-color: #0BB44F;
  color: white;
}
.featover{
  top:50px;position:relative;margin-bottom: -70px;
}
.hometxt{
  top:-90px;
  left:0px;
  font-size: 20px;
}
.hoverdown{
  border-radius: 5px;margin-bottom: -420px; top:90px;
}
.hoverhomerel{
  position: absolute; left:450px;
}
.hovtxt{
  font-size: 12px;
}
.formdiv::placeholder{
  color:#707070;
  font-size: 12px;
}
.formdiv{
  height:40px;
  width:340px;
  padding: 0px 5px;
  border-radius: 5px;
}
.homemaintxt{
  margin-top: 50px;
  margin-bottom: 30px;
  left: 46px;
  font-size: 46px;
}
.searchform{
  top:-70px;
}
.findjobs{
  padding-top:280px;
}
.hoverhome{
  border-radius: 5px;padding:0px 0px;margin-bottom: -110px;
}
.boldheader{
  font-size: 14px;
}

.comment::before{
  content:"";
  position: absolute;
  top:-16px;
  left:115px;
  margin:auto;
  height: 30px;
  width: 30px;
  border:1px solid #fff;
  transform:rotate(45deg);
  background-color:  #fff;
  }
  .tag{
    font-size: 20px;
  }
  .text
  {
    font-size: 14px;
  }
/*home.html globe images*/
.s1{
  position: absolute;left:140px; top:0px;
}
.s1div{
  position: absolute;left:-60px;width:250px;
}
.s2{
  position: absolute; left: 380px; top:90px;
}
.s2div{
  position: absolute;left:-80px;width:250px;
}
.s3{
  position: absolute; left:160px;top:180px;
}
.s3div{
  position: absolute;left:-80px;width:250px;
}
.s4{
  position: absolute; left:570px; top:30px;
}
.s4div{
  position: absolute;left:-80px;width:250px;
}
/*Alert form in home.html and about.html*/ 
.formalert{
  border-radius: 20px 0px 0px 20px;
  height:360px;
}
.formposttxt{
  font-size: 30px;
  font-weight: 600;
}
.formpostsubtxt{
  font-size: 20px;
  font-weight: 350;
}
.formpost {
  border-radius: 15px;border: 0px;padding-left: 45px;
}
/*career.html cards*/
.cards-txt{
  color:black;
  font-size: 12px;
  }     
  /*career.html cards div*/
.over{
  left:-50px;
  top: -610px;
  margin-bottom: -620px;
}
/*career.html blue rectangle*/
.hg{
  height: 350px;
}
  /*career.html circle*/
 .careercir{
  position: absolute;
  width:350px;
  height:400px;
  right:-30px;
  top:-140px;
}
.cards{
  background-color: white;
  height:170px;
  width:120px;
  } 
    /*blog.html div*/
.bover-about{
  top:-290px;
}
/*blog page pagination*/
.blogpg{
bottom: 200px;
padding-top: 200px;
}
/*blog main text*/
.blogtext{
 top:240px; 
}
.blogsubtext{
   letter-spacing: 4px;font-size: 25px;
}
/*Employer.html*/
.empdivs{
  border-radius: 14px;
  font-size:12px;
}
/*Employer.html*/
.empdivs{
  border-radius: 12px;
  padding-left: 19px;
  padding-right: 19px;
  font-size: 12px;
}
.txtemp{
  font-size: 16px;
}
/*form Employer.html*/
.empkey{
  width: 225px;height:50px;margin-left: 0px;
}
.emploccat{
  width: 195px;height:50px;margin-left: 0px;
}
.empbtn{
  width: 90px; height: 43px; margin-left: 6px;margin-right: -4px; margin-top: 3px;
}

/*register.html button*/
.regbtn {
  padding-right: 55px;
  padding-left: 55px;
  border-radius: 8px;
}
.navover{
  top: -800px;
}
.homeemp{/*featured employers*/
  font-size: 36px;
  font-weight: 600;
  color: #0BB44F;
  opacity: 50%;
}
/*form home.html*/
.homesearch{
  width: 210px;height:50px;margin-left: 0px;font-size: 14px;padding-left: 12px;padding-right: 12px;
  border-radius: 8px;
}
.homesearch::placeholder{
  font-size: 14px;
  color:grey;
}

table.sec tr td:nth-child(4) input {
  padding-right: 82px;
}
.addhome{
  margin-left: 0px;
}
#clear {
  position: absolute;
  border-radius: 5px;
  right: 2px;
  top:4px;
  z-index: 2px;
  border: none;
  width: 70px;
  height: 43px;
  margin-left: 0px;
}
 }
 /***********************************************************************************************************************/
 @media (min-width: 992px) {
  .resp {    
   position: absolute;
   left: -70px;
   }
   .respimg{
    width: 200px;
    height: 200px;
  }
   .footerform{
    border-radius: 10px;background-color: #818181; border:0px; color: white;height: 45px;
  }
  .btnsub{
    color:#CCCCCC;
    border-radius: 10px;
    height: 45px;
    padding: 0px 14px;
  }
   /*Footer form*/
   .newsform{
    padding-top:0px;
     padding-left: 0px;
    }
    .tablehome td{
      font-size: 16px;
      text-align: left;
    }
   
  /*home.html main image*/
.topimg{
  top:-180px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 100px;
  left: 66px;
}
.img-resp{
  height:600px;
}
/*about.html text*/
.t{
  top:60%;
}
/*about.html div*/
.over-about{
  top:-180px;
}
/*accountancy.html blue rectangle*/
.ag{
  height: 700px;
}
/*accountancy.html cards div*/
.aover{
  top: -1090px;
  left:-90px;
}
/*accountancy.html sub div*/
.dover{
  top: -1160px;
  margin-bottom: -100px;
}
/*accountancy.html testimonial*/
.tover{
  top: -400px;
  margin-bottom: -300px;
}

/*green strip on testimonial div*/
.testdiv
{
  margin-left:-2px; width: 227px; margin-bottom: -50px; height: 60px; border-radius: 20px 20px 0px 0px;
}
.testimg{
  padding-left: 70px; 
}
/*accountancy.html circle*/
.cir{
  position: absolute;
  width:120px;
  height:120px;
  right:-900px;
  top:50px;
}
/*accountancy main text over image*/
.cent {
  width:600px;
  height:400px;
  position: absolute;
  top: 110px;
  left:120px;
}
/*accountancy.html cards*/
.acards-txt{
  color:black;
  font-size: 11px;
  }     
.acards{
  background-color: white;
  height:150px;
  width:120px;
  } 

/*accountancy.html cards*/
.subcards-txt{
  color:black;
  font-size:10px;
  }     
  
.subcards{
  background-color: white;
  height:145px;
  width:130px;
  } 
  .subtext{
    width:800px;
  }
/*accountancy.html circle image*/
.cir{
  position: absolute;
  width:420px;
  height:540px;
  right:-390px;
  top:-60px;
}
/*home.html main img top*/ 
.homeimg{
  height:600px;
  width:1300px;
}
.homeover{
  margin-top: -650px;
}
.hometexttop{
  position: absolute;
  top: 130px;
  left: 196px;
}
.homepad{
  padding-left: 140px;
  padding-right: 80px;
  top:-40px;
}
.homedivtxt{
  font-size: 22px;
  font-weight:650;
  text-align: left;
}
/*home.html slider*/
.homeimgslide{
  position: relative; 
  border-radius: 20px;
  width:160px;
  height:200px;
  margin: 0px;
}
.homeimgslidetxt{
  font-size:18px;
  width:160px;
  top: 163px; 
  position:absolute;
  text-align:center;
  border-radius: 20px; 
  left:15px;
}
/*home.html slider "Select category" position button*/
.homesel{
  right:-130px;
}
.btncarousel{
  font-size:20px; border-radius: 40px;height:40px; width:40px;
  background-color: #ccc;
  color:#0BB44F;
}

.btncarousel:hover{
  background-color: #0BB44F;
  color: white;
}
.featover{
  top:0px;position:relative;margin-bottom: -100px;
}
.featsub{
  margin:0px 5px;
}
.boldheader{
  font-size: 18px;
}

.comment::before{
  content:"";
  position: absolute;
  top:-16px;
  left:115px;
  margin:auto;
  height: 30px;
  width: 30px;
  border:1px solid #fff;
  transform:rotate(45deg);
  background-color:  #fff;
  }
  .tag{
    font-size: 22px;
  }
  .text
  {
    font-size: 14px;
  }
/*home.html globe images*/
.s1{
  position: absolute;left:180px; top:30px;
}
.s1div{
  position: absolute;left:-60px;width:250px;
}
.s2{
  position: absolute; left: 550px; top:150px;
}
.s2div{
  position: absolute;left:-80px;width:250px;
}
.s3{
  position: absolute; left:290px;top:190px;
}
.s3div{
  position: absolute;left:-80px;width:250px;
}
.s4{
  position: absolute; left:740px; top:30px;
}
.s4div{
  position: absolute;left:-80px;width:250px;
}
/*Alert form in home.html and about.html*/ 
.formalert{
  border-radius: 20px 0px 0px 20px;
  height:360px;
}
.formposttxt{
  font-size: 35px;
  font-weight: 650;
}
.formpostsubtxt{
  font-size: 20px;
  font-weight: 350;
}
.formpost {
  border-radius: 15px;border: 0px;padding-left: 45px;
}
/*career.html cards div*/
.over{
  left:-170px;
  top: -610px;
  margin-bottom: -725px;
}
/*career.html blue rectangle*/
.hg{
  height: 350px;
}
/*career.html cards*/
.cards-txt{
  color:black;
  font-size: 12px;
  }     
 /*career.html circle*/
 .careercir{
  position: absolute;
  width:400px;
  height:450px;
  right:-190px;
  top:-50px;
}
/*career.html above img text*/
.careertxt{
  font-size: 25px;
  width:600px;
}
.cards{
  background-color: white;
  height:150px;
  width:150px;
  }  
  /*blog.html div*/
.bover-about{
  top:-380px;
}
/*blog page pagination*/
.blogpg{
  padding-top: 300px; margin-bottom: -300px;
}
/*blog main text*/
.blogtext{
 top:290px; 
  letter-spacing: 4px;font-size: 25px;
}
/*Employer.html*/
.empdivs{
  border-radius: 12px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 12px;
}
.txtemp{
  font-size: 16px;
}
/*form Employer.html*/
.empkey{
  width: 285px;height:50px;margin-left: 0px;
}
.emploccat{
  width: 260px;height:50px;margin-left: 0px;
}
.empbtn{
  width: 140px; height: 43px; margin-left: 10px;margin-right: -10px; margin-top: 3px;
}

/*register.html button*/
.regbtn {
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 5px;
}
.navover{
  top: -800px;
}
.hometxt{
  top:-80px;
  left:0px;
  font-size: 22px;
}

.homemaintxt{
  margin-top: 50px;
  margin-bottom: 30px;
  left: 46px;
  font-size: 56px;
}
.hoverdown{
  border-radius: 5px;margin-bottom: -420px; top:90px;
}
.hoverhomerel{
  position: absolute; left:580px;
}
.formdiv::placeholder{
  color:#707070;
  font-size: 14px;
}
.formdiv{
  height:40px;
  width:340px;
  padding: 0px 5px;
  border-radius: 5px;
}
.searchform{
  top:-120px;
}
/*form home.html*/
.homesearch{
  width: 270px;height:50px;margin-left: 0px;font-size: 14px;padding-left: 18px;padding-right: 18px;
}
.homesearch::placeholder{
  font-size: 14px;
  color:grey;
}
table.sec tr td:nth-child(4) input {
  padding-right: 130px;
}
.addhome{
  margin-left: 0px;
}
.homeemp{/*featured employers*/
  font-size: 46px;
  font-weight: 600;
  color: #0BB44F;
  opacity: 50%;
}
#clear {
  position: absolute;
  border-radius: 5px;
  right: 2px;
  top:4px;
  z-index: 2px;
  border: none;
  width: 110px;
  height: 43px;
  margin-left: 0px;
}
.hoverhome{
  border-radius: 5px;padding:1px;margin-bottom: -190px;
}
.hovtxt{
  font-size: 14px;
}
 }
/***********************************************************************************************************************/
 @media (min-width: 1200px) {
   /*Footer circle image*/
  .resp {
   position: absolute;
   left: -90px;
   }
   .respimg{
     width: 200px;
     height: 200px;
   }
   /*Footer form*/
   .newsform{
    padding-top:0px;
     padding-left: 0px;
    }
    .footerform{
      border-radius: 10px;background-color: #818181; border:0px; color: white;height: 45px;
    }
    .btnsub{
      color:#CCCCCC;
      border-radius: 10px;
      height: 45px;
      padding: 0px 10px;
    }
   /*home.html main image*/
   .topimg{
    top:-250px;
    
  }
   /* Top left text */
.top-left {
  position: absolute;
  top: 130px;
  left: 196px;
}
/*accountancy.html blue rectangle*/
.ag{
  height: 1600px;
}
/*accountancy.html cards div*/
.aover{
  top: -2180px;
  left:60px;
}

/*accountancy.html sub div*/
.dover{
  top: -2060px;
  margin-bottom: -205px;
}

/*accountancy.html testimonial*/
.tover{
  top: -760px;
  margin-bottom: -700px;
}

/*accountancy.html cards*/
.acards-txt{
  color:black;
  font-size: 12px;
  }     
.acards{
  background-color: white;
  height:140px;
  width:140px;
  } 
/*accountancy main text over image*/
.cent {
  width:830px;
  height:400px;
  position: absolute;
  top: 130px;
  left:370px;
  font-size: 18px;
}
/*accountancy.html circle image*/
.cir{
  position: absolute;
  width:500px;
  height:520px;
  right:-320px;
  top:10px;
}

/*green strip on testimonial div*/
.testdiv
{
  margin-left:-2px; width: 278px; margin-bottom: -50px; height: 60px; border-radius: 20px 20px 0px 0px;
}
.testimg{
  padding-left: 100px; 
}

/*accountancy.html cards*/
.subcards-txt{
  color:black;
  font-size:12px;
  }     
  
.subcards{
  background-color: white;
  height:150px;
  width:150px;
  } 
  /*subsubdiv accountancy.html*/
  .subdivover{
    top: -260px;
  margin-bottom: -700px;
  }
  .subtext{
    width:1000px;
  }
.img-resp{
  height:600px;
}
/*about.html text*/
.t{
  top:40%;
}

/*about.html div*/
.over-about{
  top:-150px;
}

.tablehome td{
  font-size: 16px;
  text-align: left;
}
.tag{
  font-size: 25px;
}
.text
{
  font-size: 16px;
}
/*home.html globe */
.boldheader{
  font-size: 20px;
}
.comment::before{
  content:"";
  position: absolute;
  top:-16px;
  left:115px;
  margin:auto;
  height: 30px;
  width: 30px;
  border:1px solid #fff;
  transform:rotate(45deg);
  background-color:  #fff;
  }
/*home.html globe images*/
.s1{
  position: absolute;left:160px; top:40px;
}
.s1div{
  position: absolute;left:-80px;width:250px;top:13px;
}
.s2{
  position: absolute; left: 575px; top:150px;
}
.s2div{
  position: absolute;left:-80px;width:250px;top:-4px;
}
.s3{
  position: absolute; left:330px;top:190px;
}
.s3div{
  position: absolute;left:-80px;width:250px;top:-4px;
}
.s4{
  position: absolute; left:740px; top:30px;
}
.s4div{
  position: absolute;left:-80px;width:250px;top:-3px;
}
/*home.html main img top*/ 
.homeimg{
  height:600px;
  width:3000px;
}
.homeover{
  margin-top: -700px;
}

.hometexttop{
  position: absolute;
  top: 130px;
  left: 196px;
}
.homepad{
  padding-left: 20px;
  padding-right: 0px;
}
.homedivtxt{
  font-size: 28px;
  font-weight:700;
  text-align: left;
}
.homedivsubtxt{
  font-size: 18px;
}
/*home.html slider*/
.homeimgslide{
  position: relative; 
  border-radius: 20px;
  width:210px;
  height:200px;
  margin: 0px;
}
.homeimgslidetxt{
  font-size:20px;
  width:210px;
  top: 160px; 
  position:absolute;
  text-align:center;
  border-radius: 20px; 
  left:9px;
}

/*home.html slider "Select category" position button*/
.homesel{
  right:-170px;
}
.btncarousel{
  font-size:20px; border-radius: 40px;height:40px; width:40px;text-align: center;
  background-color: #ccc;
  color:#0BB44F;
}

.btncarousel:hover{
  background-color: #0BB44F;
  color: white;
}
.featover{
  top:0px;position: relative;margin-bottom: -50px;
}
.featsub{
  margin:0px 5px;
}
/*home.html placeholder*/
.h::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* Firefox */
font-size: 20px;
}
.navover{
  top: -800px;
}
/*Alert form in home.html and about.html*/ 
.formalert{
  border-radius: 20px 0px 0px 20px;
}
.formposttxt{
  font-size: 40px;
  font-weight: 700;
}
.formpostsubtxt{
  font-size: 25px;
  font-weight: 400;
}
.formpost {
  border-radius: 20px;border: 0px;padding-left: 55px; font-size: 14px;
}
/*career.html above img text*/
.careertxt{
  font-size: 25px;
  width:600px;
}

/*career.html cards*/
.cards-txt{
  color:black;
  font-size: 12px;
  }     
  
  /*career.html circle*/
 .careercir{
  position: absolute;
  width:600px;
  height:600px;
  right:-205px;
  top:-200px;
}
/*career.html cards div*/
.over{
  left:0px;
  top: -700px;
  margin-bottom: -775px;
}
/*career.html blue rectangle*/
.hg{
  height: 350px;
}

.cards{
  background-color: white;
  height:150px;
  width:140px;
  }  
  /*blog.html div*/
.bover-about{
  top:-550px;
}
/*blog page*/
.blogpg{
  padding-top: 300px; margin-bottom: -500px;
}
.blogtext{
  letter-spacing: 4px;font-size: 25px;
}
/*Employer.html*/
.empdivs{
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
.txtemp{
  font-size: 16px;
}
/*form Employer.html*/
.empkey{
  width: 340px;height:50px;margin-left: 0px;
}
.emploccat{
  width: 320px;height:50px;margin-left: 0px;
}
.empbtn{
  width: 150px; height: 43px; margin-left: 10px;margin-right: -10px; margin-top: 3px;
  font-size: 14px;
}
.searchform{
  top:-130px;
}
/*form home.html*/
.homesearch{
  width: 345px;height:50px;margin-left: 0px;font-size: 16px;padding-left: 24px;padding-right: 24px;
}
.homesearch::placeholder{
  font-size: 16px;
  color:grey;
}
table.sec tr td:nth-child(4) input {
  padding-right: 150px;
}
.addhome{
  margin-left: 0px;
}
#clear {
  position: absolute;
  border-radius: 5px;
  right: 4px;
  top:3px;
  z-index: 2px;
  border: none;
  width: 110px;
  height: 43px;
  margin-left: 0px;
}
.homeemp{/*featured employers*/
  font-size: 56px;
  font-weight: 600;
  color: #0BB44F;
  opacity: 50%;
}
/*register.html*/
/*button*/
.regbtn {
  padding-right: 95px;
  padding-left: 95px;
  border-radius: 8px;
}
.hometxt{
  top:-110px;
  font-size: 20px;
}

.homemaintxt{
  margin-top: 90px;
  margin-bottom: 30px;
  font-size: 56px;
}
.hoverdown{
  border-radius: 10px;margin-bottom: -420px; top:96px;
}
.hoverhomerel{
  position: absolute; left:850px;
}
.hovtxt{
  font-size: 18px;
}
.formdiv::placeholder{
  color:#707070;
  font-size: 18px;
  padding: 0px 15px;
}
.formdiv{
  height:60px;
  padding: 0px 15px;
  border-radius: 10px;
}
.padleft{
  left:230px;
}
.padright{
  right:230px;
}
.packhead{
  font-size: 18px;font-weight: 600;
}

}
/******************************************************************************************/

/*black overlay effect on image*/
.header {
  background:rgba(0, 0, 0, 1);
}
/*for every centered main images in all pgs*/
 .imag {
  object-fit: cover;
  opacity: 0.4;
}
/* Centered text */
.centered {
    font-size: xx-large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.top {
    position: relative;
}

/*button*/
.ex {
    padding-right: 70px;
    padding-left: 70px;
    border-radius: 8px;
}
.bt{
  background-color: #0D2942;
  border-radius: 10px;
}
.bt:hover{
background-color:  #0BB44F;
}
.btg{
  background-color: #0BB44F;
  border-radius: 10px;
  font-size: 20px;
}
.btg:hover{
background-color:  #0D2942;
}

.btnsearchjob1{
  background-color: #0BB44F;
  color:white;
  border-radius: 6px;
  padding:10px 23px;
  font-size: 16px;
}
.btnsearchjob1:hover{
background-color: white;
color:#0BB44F;
}

.btnsearchjob2{
  background-color: white;
color:#0BB44F;
border-radius: 6px;
  padding:10px 30px;
  font-size: 16px;
}
.btnsearchjob2:hover{
  background-color: #0BB44F;
  color:white;
}
.smallfont{
font-size: 12px;
}
.keyworddiv{
  background-color:#e8e8e8;
  width:100px;
  margin-right: 17px;
  padding-left: 10px;
  height: 50px;
  color:black;
  border-radius: 3px;
  

}


.formpost::placeholder{
  color:#939292;
  text-shadow: 0.5px 0.1px #939292;
}
.list-group-item {
    background-color:#0D2942;
    color: gainsboro;
}
.list-group-item:hover {
  background-color:#0D2942;
  color:  #0BB44F;
}
/*---------footer-----------*/
.foot{
  background-color:#0D2942;
  color: gainsboro; 
  padding-top: 8px;
}
.foottop{
  font-weight: 350;
}
.hov:hover {
  color:  #0BB44F;
}

/*internal linking*/
.myDiv{
  display: none;
}

.myDiv:target{
  display:block !important;
  color:black;
}
/*register2.html profile icon*/
.holder {
  position: relative;
  display: block;
}

.holderimg {
  border-radius: 20px;
  position: absolute;
  margin-top: -55px;
  margin-left: 125px;
  background-color: burlywood;
  padding: 10px;
}
.holderimg:hover{
  background-color: #929292;
}
/*for packages.html*/
.divs{
  background-color: #F9F9F9;
}

/*button packages.html*/
.post{
  background-color:#0D2942;
  color: white;
}
.post:hover{
  background-color:#0BB44F;
  color: white;
}
.d:hover{
  background-color: #d6d6d4;
}


/*home.html form*/
.tb{
    background-color: white;
}
/*blog title change color blog.html*/
.blogtitle:hover{
  color:#0BB44F;
}
.blogtitle{
  color:black;
}
/*Employer.html add button*/
.addbtn:hover{
background-color:#d4d4d4;
cursor:hand;
color:black;
}
tr{
  border-top: hidden;
}
/*Employer.html dropdown*/
.border-3 {
  border-width:3px !important;
}
.dropdown-menu {
  min-width:inherit;
  max-width: inherit;
}
.btnsave{
  background-color: #0BB44F;
  color:white;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 12px;
  border-radius: 4px;
}

.btnsave:hover{
  padding-left: 40px;
  padding-right: 40px;
  background-color:gainsboro;
  color:black;
}

/*jobs.html page*/
.formjob{
  background-color: #0D2942;
  color: white;
}
.formjob:focus{
  background-color: white;
}
.jd{
  font-size:14px;
}
.collapsedivs{
  color:white;
}
.collapsedivs:hover{
  color:#0BB44F;
}
/*seeker dashboard*/
.seekdiv
{
 min-width: max-content; height: 60px; border-radius: 20px 20px 0px 0px;
 margin-left:0px;
 margin-right:0px;
}
.btnseeker{
  color:white;
  background-color:#0BB44F;
  font-size: 12px;
}
.seekjobsdiv{
  background-color: #0D2942;
  border-radius: 6px;
  color:white;
}
.seekdeldiv{
  background-color: #d9dbda;
  border-radius: 6px;
}
.seekdeltable td{
  color: black;
  text-align: center;
}
/*.seekdeltable tr{
  border: 2px solid #d9dbda;
}*/
.seekdeltable td{
  border: 2px solid #d9dbda;
}
.seekdeltable thead td{
  border: 0px;
}
.seekdeltable tbody tr{
  border: 2px solid #d9dbda;
}
.seekdeltable{
  border-collapse: collapse;
  border-style: hidden;/*hides the boundary*/
  font-size: 12px;
}
.delhov{
  cursor: hand;
}
.content {
  display: none;
  margin: 15px;
}
.activator:hover {
  width: 500px;
}
.activator:hover .content {
  display: block;
}

.resumetable td{
  font-size: 12px;
  color:black;
}
.resumetable b{
  font-size: 14px;
}
.imgboxseek{
  height:190px;
  width:200px;
  background-color: #f0eded;
}
.btnupdate:hover{
  background-color:#0BB44F;
  color: white;
  cursor: hand;
}
.btnupdate{
  background-color:#0D2942; 
  color:white;
  border-radius: 10px;
}
.dashnav a:active{
  font-weight: 900;
}
.dashnav a:hover {
  color: #0BB44F;
}
/*Active button*/
.dashformact{
  background-color: #0BB44F;
  color: white;
}

/*dashboard admin*/
.just-padding {
  padding: 0px 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
  border: none;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
  padding-left: 35px;
}

.list-group.list-group-root .list-group-item {
  border: 0px solid;
  padding-top: 0px;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
  padding-top: 0px;
}

.controlf{
  background-color:  #F3F3F3;
  border:1px solid  #d1d1d1;
}
.uploader {
  opacity: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  }
  
  .contain {
  position: relative
  }
  
  /*subadmin.html links*/
.normaltext {
    font-weight: normal;
    color: white;
}
.boldtext {
    font-weight: 700;
    color: #0BB44F;
}
select
{
    color: #ccc;
}
option
{
    color: #000;
}
option:first-child
{
    color: #ccc;
}

.dashform{
  background-color: #F3F3F3;
  
}
.dashform:focus { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    background-color: #F3F3F3;
}
.dashform::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.5; /* Firefox */
  font-size: 12px;
  color:black;
}
.dashformselect{
  background-color: #F3F3F3;
  color:grey;
}
.dashformselect:focus { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    background-color: #F3F3F3;
}
.dashformselect::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.5; /* Firefox */
  font-size: 12px;
}


.comment {
  position: relative;
  background-color: #fff;
}
.homefeat{
  font-size: 30px;
  font-weight: 400;
}
